%ul.nav.nav-tabs
  %li{ role: "presentation" }
    %a= link_to "Home", current_user.admin? ? admin_users_path : user_path(current_user)
  - if current_user.admin?
    %li{ role: "presentation" }
      %a= link_to "Dictionary", admin_dictionary_path(@dictionary.id)
  - else
    %li{ role: "presentation" }
      %a= link_to "Upload file", new_document_path
  %li{:role => "presentation"}
    %a= link_to "Users", admin_users_path if current_user.admin?
  %li{:role => "presentation"}
    %a= link_to "Documents", current_user.admin? ? admin_documents_path : documents_path
  %li.pull-right{:role => "presentation"}
    %a= link_to "Logout", destroy_user_session_path
