.container
  .div#uploader
    = form_for(@document, :html => { :multipart => true }) do |f|
      .field
        = f.label :name
        %br/
        = f.text_field :name
      = f.fields_for :document_attachments do |p|
        .field
          = p.file_field :file, :multiple => true, name: "document_attachments[file][]"
      .actions
        = f.submit "Upload"
