%p
  %strong Title:
  = @document.name
  - @document_attachments.each do |p|
    = link_to "Check correctness", check_correctness_document_document_attachment_path(p), method: :post
    = link_to "Edit File", edit_document_document_attachment_path(p)
    = link_to 'Edit', edit_document_path(@document)
    = link_to 'Back', documents_path
